body {
    color: #f2e9e1;
    font-family: "Monaco", monospace;
    background-color: #f2e9e1;
}

div{
    margin: auto;
    width: 50%;
    padding: 10px;
}

form {    
    border-radius: 25px;
    background-color: #908caa;
    padding: 50px;
    margin: 20px;
}

input {
    border-radius: 15px;
    background-color: #f2e9e1;
    border: 0;
}

select {
    border-radius: 15px;
    background-color: #f2e9e1;
    border: 0;
}

textarea {
    border-radius: 7px;
    background-color: #f2e9e1;
    border: 0;
}

h2 {
    text-align: center;
    font-weight: bold;
}